.region-header {
  width: 50%;
  margin: 10px auto;
}
.region-header li {
  margin: 5px;
}

.countries-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.each-country {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
}
.right-side {
  width: 60%;
  border: 1px solid #00000090;
  padding: 10px;
  color: #000000;
  text-decoration: none;
}
.left-side {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.left-side img {
  width: 100%;
}
.left-side button {
  width: 70%;
  margin: 5px auto;
}
.fav-btn {
  position: fixed;
  bottom: 40px;
  left: 10px;
}
.back-btn {
  display: block;
  margin: 20px;
  width: 10%;
}
#active-btn {
  color: white;
  background: deepskyblue;
}
#each-region {
  color: #000000;
  border: 1px solid #00000050;
  padding: 5px;
}
.borders {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.search-block {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px auto 40px;
}
.search-block input {
  width: 40%;
}

@media only screen and (min-width: 300px) and (max-width: 550px) {
  .search-block {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .search-block input {
    width: 90%;
  }
  .search-btn {
    width: 50%;
  }
  .each-country {
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px 0;
  }
  .left-side {
    width: 90%;
  }
  .left-side button {
    width: 50%;
    margin: 15px auto;
  }
  .right-side {
    width: 100%;
  }
}
